* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  flex-wrap: wrap;
}

nav > a {
  padding: 30px;
}

header > .contato > a {
  margin-right: 20px;
}

.button-blue {
  padding: 15px 30px;
  border-radius: 100px;
  background: #3751ff;
  border: 1px;
}

.button-blue > a {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.button-blue > a:hover,
.button-white > a:hover {
  color: #ccc;
}

.button-white {
  margin-left: 50.3px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 15px 40px;
  border-radius: 100px;
  border: 1px;
}

.button-white > a {
  color: #455880;
  font-weight: normal;
  font-size: 16px;
}

section {
  display: flex;
  flex-direction: column;
}

.hero {
  align-items: center;
  padding: 0px 16px;
}

.hero > h1 {
  font-size: 56px;
  font-weight: 500;
  color: #1e266d;
  line-height: 105%;
  text-align: center;
  margin-top: 144px;
}

.hero > h2 {
  font-weight: normal;
  margin-top: 27px;
  color: #1e266d;
  line-height: 150%;
}

.hero > div {
  margin-top: 29px;
}

.hero img {
  width: 100%;
}

.logos {
  align-items: center;
  padding: 0px 16px;
}

.logos > span {
  margin-top: 69px;
  font-size: 16px;
  font-weight: normal;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
}

.logos-img {
  margin-top: 49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.logos-img img {
  padding: 0px 26px;
}

.about > h1 {
  margin-top: 162px;
  text-align: center;
  font-size: 48px;
  color: #1e266d;
  line-height: 60px;
  font-weight: normal;
}

.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-container > .img img {
  width: 100%;
}

.about-grid {
  display: flex;
  align-items: center;
}

.about-grids {
  width: 400px;
  height: 193px;
  display: flex;
}

.about-grid-img {
  margin-right: 47px;
}

.about-texts {
  width: 300px;
  margin-bottom: 31px;
}

.about-texts > h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 27.5px;
  color: #1e266d;
  height: 59px;
}

.about-texts > h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #1e266d;
}

.about-texts > p {
  margin: 41px 0px;
  border: 0.5px solid rgba(69, 88, 128, 0.2);
}

.portifolio {
  background: #fff9ea;
  align-items: center;
}

.portifolio > h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  margin-top: 139px;
  color: #1e266d;
  text-align: center;
}

.portifolio > h2 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 40px;
  color: #1e266d;
  line-height: 31.5px;
  text-align: center;
}

.portifolio > .button-blue {
  margin-top: 40px;
}

.portifolio-imagens {
  display: flex;
}

.portifolio-image {
  margin-top: auto;
}

.portifolio-image img {
  width: 100%;
}

.comentarios {
  display: flex;
  margin-top: 234px;
  margin-bottom: 150px;
}

.comentarios > h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: #1e266d;
  text-align: center;
}

.coments {
  display: flex;
  margin-top: 56px;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}

.coment {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  margin-left: 31.65px;
  width: 372.89px;
  height: 467px;
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
}

.coment > h2,
.coment-elements > h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  color: #455880;
}

.coment-elements > h1 {
  font-size: 22px;
  line-height: 27.5px;
  color: #1e266d;
}

.coment > h2,
.coment-elements > h1 {
  margin-top: 23px;
}

.coment > h2 {
  height: 211px;
  text-align: justify;
}

.coment > h1,
.coment > h3 {
  text-align: center;
}

.coment-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta {
  background-color: #3751ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
  height: 323px;
  justify-content: space-around;
}

.cta > h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: white;
}

.cta-button > .button-white {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

.button-white > .a-cta {
  margin-left: 20px;
}

.cta-button > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 660px;
  align-items: center;
}

.footer-body {
  margin-top: 128px;
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.column-text {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.1px;
  color: #455880;
}

.column-links {
  display: flex;
  flex-direction: column;
}

.column-links li {
  margin-top: 20px;
}

.column-link ul {
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
}

.column-links h2 {
  color: #1e266d;
  font-size: 22px;
  font-weight: 500;
}

.column-sociais {
  display: flex;
  width: 171px;
  justify-content: center;
  margin-top: 20px;
}

.column-sociais img {
  margin: auto;
}

.column-termos-links {
  display: inline-flex;
  margin: auto;
  width: 100vw;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.column-termos-links ul {
  display: flex;
}

.column-termos-links a {
  padding: 0px 20px;
  text-decoration: none;
}
